.current_date {
    background: rgb(61, 103, 219);
    color: white;
}
#tabapay_calendar {
    border: 1px solid #000;
}
thead {
    background: rgb(61, 103, 219);
    color: #FFF;
}
td {
    padding: 2%;
    text-align: center;
}
th {
    text-align: center;
}
td:hover {
    background: rgba(153, 153, 153, 0.644);
    color: white;
}
#previous {
    margin: 1% 5px;
    float: left;
    width: 10%;
}
#next {
    float: right;
    margin: 1% 5px;
}
#calendar_header {
    text-align: center;
    width: 70%;
    color: #000;
    float: left;
    margin: 1% 0px;
}
.placeholder {
    height: 35px;
    background: #FFF;
    color: #000;
}
span{
    color:#000;
}